@import "../../app.scss";

.about {
  background: linear-gradient(to top, #48204d, #1a0c1c);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      flex: 0;
      text-align: center;
      flex-direction: column;
      gap: 8px;
      padding-right: 5px;
    }

    @include tablet {
      flex: 0;
      flex-direction: column;
      gap: 5px;
      padding-right: 5px;
    }

    @include laptop {
      flex: 0;
      flex-direction: column;
      gap: 5px;
      padding-right: 5px;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.50px solid gray;

      @include mobile {
        width: 100%;
        border-top: 0.25px solid orange;
      }

      @include tablet {
        width: 100%;
        border-top: 0.25px solid orange;
      }

      @include laptop {
        width: 100%;
        border-top: 0.25px solid orange;
      }
    }

    p {
      font-size: 20px;
      font-weight: 250;
      color: white;
      text-align: right;

      @include mobile {
        font-size: 0.8rem;
        padding-top: 10px;
      }

      @include tablet {
        font-size: 0.8rem;
        padding-top: 10px;
        padding-right: 10px;
      }

      @include laptop {
        font-size: 0.9rem;
        padding-top: 10px;
        padding-right: 10px;
      }
    }
  }

    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      @include mobile {
        flex: 1;
        padding: 12px 0;
      }

      @include tablet {
        flex: 1;
        padding: 12px 0;
      }

      @include laptop {
        flex: 1;
        padding: 12px 0;
      }
    }

      .title {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mobile {
          flex-direction: column;
          gap: 4px;
          text-align: center;
          padding-top: 10px;
        }

        @include tablet {
          flex-direction: column;
          gap: 3px;
          text-align: center;
          padding-top: 10px;
        }

        @include laptop {
          flex-direction: column;
          gap: 3px;
          text-align: center;
          padding-top: 10px;
        }

        img {
          width: 200px;
          height: 300px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 5px 5px rgb(19, 18, 18), -5px -5px rgb(19, 18, 18);

          @include mobile {
            width: calc(120px + 5vw);
            height: calc(140px + 5vw);
            object-fit: scale-down;
            box-shadow: none;
          }

          @include tablet {
            width: calc(120px + 5vw);
            height: calc(140px + 5vw);
            object-fit: scale-down;
            box-shadow: 0 3px rgb(19, 18, 18), 0 -3px rgb(19, 18, 18);
          }

          @include laptop {
            width: calc(120px + 5vw);
            height: calc(140px + 5vw);
            object-fit: contain;
            box-shadow: none;
          }
        }

        h1 {
          font-size: 96px;
          font-weight: 200;

          @include mobile {
            font-size: 2.25rem;
            padding: 4px;
          }

          @include tablet {
            font-size: 2.5rem;
            padding: 0;
          }

          @include laptop {
            font-size: 3.5rem;
            padding: 0;
          }
        }

        button {
          width: 300px;
          height: 100px;
          border-width: 50%;
          background-color: orange;
          border: none;
          font-size: 24px;
          font-weight: 600;
          border-radius: 50px;
          color: black;
          cursor: pointer;

          @include mobile {
            width: fit-content;
            height: fit-content;
            padding: 6px;
            font-size: calc(0.70rem + 0.5vw);
          }

          // @include mobile {
          //   display: none;
          // }

          @include tablet {
            width: fit-content;
            height: fit-content;
            padding: 6px;
            font-size: calc(0.75rem + 0.5vw);
          }

          @include laptop {
            width: fit-content;
            height: fit-content;
            padding: 15px;
            font-size: calc(0.75rem + 0.5vw);
          }
        }
      }

        .listContainer, .techStacksContainer{
          flex: 1;
          display: flex;
          max-width: 1366px;
          margin: auto;
          gap: 10px;
          align-items: center;

          @include mobile {
            flex-direction: column;
            gap: 2px;
            padding: 5px 8px;
            text-align: justify;
            justify-content: center;
          }

          @include tablet {
            // flex-direction: row;
            flex-direction: column;
            padding: 5px 8px;
            text-align: justify;
            align-items: flex-start;
            justify-content: center;
          }

          @include laptop {
            flex-direction: row;
            padding: 5px 8px;
            text-align: justify;
            align-items: flex-start;
            justify-content: center;
          }
        }

          .box, .techStacksBox {
          padding: 20px;
          border: 0.5px solid gray;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: justify;

          @include mobile {
            padding: 8px;
            border: 0.5px solid rgb(231, 168, 52);
          }

          @include tablet {
            border: 0.5px solid rgb(231, 168, 52);
            font-size: calc(0.75rem + 0.5vw);
            padding: 15px;
            height: fit-content;
          }

          @include laptop {
            border: 0.5px solid rgb(231, 168, 52);
            font-size: calc(0.75rem + 0.5vw);
            padding: 15px;
            height: fit-content;
          }
        }

          .aboutMe, .education {
            @include mobile {
              display: none;
            }
          }

          .codingExp {
            @include mobile {
              flex: 1;
              font-size: calc(0.9rem + 0.5vw);
              min-height: fit-content;
            }
          }

          .techStacksBox {
            @include mobile {
              text-align: center;
              justify-content: flex-start;
              flex: 0.5;
              min-height: fit-content;
            }

            @include tablet {
              text-align: center;
              justify-content: flex-start;
              flex: 0.5;
              min-height: fit-content;
              border: 0.5px solid rgb(231, 168, 52);
            }

            @include laptop {
              text-align: center;
              justify-content: flex-start;
              min-height: fit-content;
              border: 0.5px solid rgb(231, 168, 52);
            }
          }

          h2 {
            padding-bottom: 10px;

            @include mobile {
              font-size: calc(1.25rem + 0.5vw);
              text-align: left;
            }

            @include tablet {
              font-size: calc(1rem + 0.5vw);
              text-align: left;
            }

            @include laptop {
              font-size: calc(1rem + 0.5vw);
              text-align: left;
            }
          }

          img {
            @include mobile {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }

            @include tablet {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }

            @include laptop {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }
          }
}
