@import "../../app.scss";

.about {
  background: linear-gradient(to top, #48204d, #1a0c1c);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include mobile {
    overflow-y: auto;
  }

  @include tablet {
    overflow-y: auto;
  }

  @include laptop {
    overflow-y: auto;
  }  

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      flex: 0;
      text-align: center;
      flex-direction: column;
      gap: 8px;
      padding-right: 5px;
    }

    @include tablet {
      flex: 0;
      flex-direction: column;
      gap: 5px;
      padding-right: 5px;
    }

    @include laptop {
      flex: 0;
      flex-direction: column;
      gap: 5px;
      padding-right: 5px;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.50px solid gray;

      @include mobile {
        width: 100%;
        border-top: 0.25px solid orange;
      }

      @include tablet {
        width: 100%;
        border-top: 0.25px solid orange;
      }

      @include laptop {
        width: 100%;
        border-top: 0.25px solid gray;
      }
    }

    p {
      font-size: 20px;
      font-weight: 250;
      color: white;
      text-align: right;

      @include mobile {
        font-size: 0.8rem;
        padding-top: 10px;
      }

      @include tablet {
        font-size: 0.8rem;
        padding-top: 8px;
      }

      @include laptop {
        font-size: 0.9rem;
        padding-top: 10px;
      }
    }
  }

    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      @include mobile {
        flex: 1;
        padding-bottom: 10px;
      }

      @include tablet {
        flex: 1;
        padding: 10px 0;
      }

      @include laptop {
        flex: 1;
        padding: 10px 0;
      }
    }

      .title {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mobile {
          flex-direction: column;
          text-align: center;
          gap: 3px;
        }

        @include tablet {
          flex-direction: column;
          gap: 3px;
          text-align: center;
          padding-top: 10px;
        }

        @include laptop {
          flex-direction: column;
          gap: 3px;
          text-align: center;
          padding-top: 10px;
        }

        img {
          width: 200px;
          height: 300px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 5px 5px rgb(19, 18, 18), -5px -5px rgb(19, 18, 18);

          @include mobile {
            width: 90px;
            height: 110px;
            object-fit: scale-down;
            box-shadow: none;
          }

          @include tablet {
            width: 90px;
            height: 110px;
            object-fit: scale-down;
            box-shadow: 0 3px rgb(19, 18, 18), 0 -3px rgb(19, 18, 18);
          }

          @include laptop {
            width: 90px;
            height: 110px;
            object-fit: contain;
            box-shadow: none;
          }
        }

        h1 {
          font-size: 76px;
          font-weight: 200;

          @include mobile {
            font-size: 1.75rem;
            padding: 4px;
          }

          @include tablet {
            font-size: 1.75rem;
            padding: 0;
          }

          @include laptop {
            font-size: 2rem;
            padding: 0;
          }
        }

        button {
          width: 250px;
          height: 65px;
          border-width: 50%;
          background-color: orange;
          border: none;
          font-size: 24px;
          font-weight: 600;
          border-radius: 50px;
          color: black;
          cursor: pointer;

          @include mobile {
            width: fit-content;
            height: fit-content;
            padding: 6px;
            font-size: 0.75rem;
          }

          @include tablet {
            width: fit-content;
            height: fit-content;
            padding: 10px;
            font-size: 0.75rem;
          }

          @include laptop {
            width: fit-content;
            height: fit-content;
            padding: 10px;
            font-size: 0.85rem;
          }
        }
      }

        .listContainer, .techStacksContainer {
          flex: 1;
          display: flex;
          max-width: 1366px;
          margin: auto;
          padding: 10px;
          gap: 10px;
          align-items: flex-start;
          justify-content: space-around;

          @include mobile {
            flex: 0;
            flex-direction: column;
            text-align: justify;
            justify-content: center;
          }

          @include tablet {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-around;
          }

          @include laptop {
            flex-direction: row;

            .aboutMe, .education, .workExp {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              flex: 1;
              min-height: 240px;
              max-height: fit-content;
              align-items: flex-start;
              text-align: justify;
            }
          }
        }

          .box, .techStacksBox {
          padding: 20px;
          border: 0.5px solid gray;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          text-align: justify;
          width: 100%;
          height: fit-content;

          @include mobile {
            padding: 8px;
            border: 0.5px solid gray;
          }

          @include tablet {
            border: 0.5px solid gray;
            padding: 12px;
          }

          @include laptop {
            border: 0.5px solid gray;
            padding: 12px;
          }
        }

          .education {
            @include mobile {
              display: none;
            }

            @include tablet {
              font-size: 0.85rem;
            }

            @include laptop {
              font-size: 0.85rem;
              min-height: fit-content;
            }
          }

          .codingExp, .workExp, .aboutMe {
            @include mobile {
              flex: 1;
              font-size: 0.9rem;
              min-height: fit-content;
            }

            @include tablet {
              font-size: 0.85rem;
              
            }

            @include laptop {
              font-size: 0.85rem;
            }
          }

          .techStacksBox {
            @include mobile {
              text-align: center;
              justify-content: flex-start;
              flex: 0.5;
              min-height: fit-content;
            }

            @include tablet {
              text-align: center;
              justify-content: flex-start;
              flex: 0.5;
              min-height: fit-content;
              border: 0.5px solid gray;
            }

            @include laptop {
              text-align: center;
              justify-content: flex-start;
              min-height: fit-content;
              border: 0.5px solid gray;
            }
          }

          h2 {
            padding-bottom: 10px;

            @include mobile {
              font-size: 1rem;
              text-align: left;
            }

            @include tablet {
              font-size: 1rem;
              text-align: left;
            }

            @include laptop {
              font-size: 1.25rem;
              text-align: left;
            }
          }

          img {
            @include mobile {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }

            @include tablet {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }

            @include laptop {
              max-width: fit-content;
              height: calc(0.8rem + 0.5vw);
              gap: 6px;
              padding-right: 4px;
            }
          }
}
