@import "../../app.scss";

.about {
  background: linear-gradient(to top, #48204d, #1a0c1c);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      flex: 0;
      align-self: center;
      text-align: center;
      flex-direction: column;
      gap: 8px;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.50px solid gray;

      @include mobile {
        width: 100%;
        border-top: 0.25px solid orange;
      }
    }

    p {
      font-size: 20px;
      font-weight: 250;
      color: white;
      text-align: right;

      @include mobile {
        font-size: 0.70rem;
        text-align: center;
        padding-top: 10px;
      }
    }
  }

    .titleContainer {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      @include mobile {
        flex: 1;
        padding: 6px;
        padding-top: 8px;
      }
    }

      .title {
        display: flex;
        align-items: center;
        gap: 25px;

        @include mobile {
          flex-direction: column;
          gap: 0;
          text-align: center;
        }

        img {
          width: 200px;
          height: 300px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 5px 5px rgb(19, 18, 19), -5px -5px rgb(19, 18, 18);

          @include mobile {
            width: 170px;
            height: 120px;
            padding: 5px;
          }
        }

        h1 {
          font-size: 96px;
          font-weight: 200;

          @include mobile {
            font-size: 32px;
            padding: 0;
          }
        }

        button {
          width: 300px;
          height: 100px;
          border-width: 50%;
          background-color: orange;
          border: none;
          font-size: 24px;
          font-weight: 600;
          border-radius: 50px;
          cursor: pointer;

          @include mobile {
            width: 100px;
            height: 28px;
            font-size: calc(0.70rem + 0.5vw);
          }

          // @include mobile {
          //   display: none;
          // }
        }
      }

        .listContainer, .techStacksContainer{
          flex: 1;
          display: flex;
          max-width: 1366px;
          margin: auto;
          gap: 10px;
          align-items: center;

          @include mobile {
            flex-direction: column;
            gap: 2px;
            padding: 5px 8px;
            text-align: justify;
            justify-content: center;
          }
        }

          .box, .techStacksBox {
          padding: 20px;
          border: 0.5px solid gray;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: justify;

          @include mobile {
            padding: 8px;
            font-size: calc(0.9rem + 0.5vw);
            border: 0.25px solid rgb(231, 168, 52);
          }
        }

          .aboutMe, .education {
            @include mobile {
              display: none;
            }
          }

          .codingExp {
            @include mobile {
              flex: 1;
            }
          }

          .techStacksBox {
            @include mobile {
              text-align: center;
              justify-content: flex-start;
              flex: 0.75;
              min-height: fit-content;
            }
          }

          h2 {
            padding-bottom: 10px;

            @include mobile {
              font-size: calc(1rem + 0.5vw);
              text-align: left;
            }
          }

          img {
            @include mobile {
              max-width: fit-content;
              height: calc(1rem + 0.5vw);
              gap: 4px;
            }
          }
}
