.home {
  height: calc(100vh - 100px);
  background: linear-gradient(to top, #48204d, #1a0c1c);
  overflow: hidden;
  position: relative;

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 10%;
    right: 0;
  }

    img {
      height: 80%;
      width: 90%;
      object-fit: cover;
      border-radius:  75% 25% 75% 25% / 25% 75% 25% 75%;
  }
}