.home {
  height: calc(100vh - 100px);
  background: linear-gradient(to top, #48204d, #1a0c1c);
  overflow: hidden;
  position: relative;

  .wrapper {
    height: 100%;
    max-width: 1366px;
    margin: auto;
  }

  .textContainer {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;

    h2 {
      font-size: 2rem;
      color: #e523ff;
      letter-spacing: 8px;
    }

    h1 {
      font-size: 5rem;
      color: #f0efe7;
      font-weight: 650;
    }

    .buttons {
      display: flex;
      gap: 20px;      
      
      button {
        padding: 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-weight: 600;
        cursor: pointer;
      }

      button:hover {
        background-color: white;
        color: black;
      }
    }
  }

  .scrollButton {
    width: 50px;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 40vh;
    font-weight: 500;
    color: #ffffff09;
    bottom: -100px;
    left: -50px;
    white-space: nowrap;
    width: 50%;
  }


  .imageContainer {
    height: 100%;
    position: absolute;
    top: 10%;
    right: 0;
  }

  .myPhoto {
      height: 90%;
      width: 65%;
      object-fit: cover;
      border-radius:  75% 25% 0 0 / 25% 75% 0 0;
      box-shadow: 0 0 12px #e845fd;
  }
}

