.home {
  height: calc(100vh - 100px);
  background: linear-gradient(to top, #48204d, #1a0c1c);
  overflow: hidden;
  position: relative;

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 10%;
    right: -12%;
  }

    img {
      height: 90%;
      width: 65%;
      object-fit: cover;
      border-radius:  75% 25% 0 0 / 25% 75% 0 0;
      box-shadow: 0 0 12px #efe7f0;
  }
}