.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    width: 100%;

    .contactDetails {
      gap: 10px;
    }
  }


}