.contact {
  display: flex;
  width: 1366px;
  
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    width: 100%;

    .contactDetails {
      gap: 10px;
    }
  }


}