@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      justify-content: flex-end;
      padding: 12px;
      }

      @include tablet {
        justify-content: flex-end;
        padding: 12px;
      }

      @include laptop {
        justify-content: flex-end;
        padding: 20px;
      }

    span {
      font-size: 1rem;

      @include mobile {
      display: none;
      }

      @include tablet {
        display: none;
      }

      @include laptop {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      @include mobile {
        gap: 15px;
      }

      img{
        width: 24px;
        height: 18px;
        padding-left: 6px;

        @include mobile {
          width: 22px;
          height: 14px;
        }

        @include tablet {
          width: 22px;
          height: 14px;
        }
      }
    }
  }
}