html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #1b0c1d;
  color: antiquewhite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  // font-weight: 500;
  // font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) and (min-width: 739px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1365px) and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1366px) {
    @content;
  }
}